.grandparent {
    background-color: rgb(244, 148, 148);
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.parent1 {
    background-color: rgb(155, 219, 219);
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.parent2 {
    background-color: rgb(248, 150, 105);
    height: 300px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: start;
    flex-wrap: nowrap;
}
#a {
    background-color: rgb(241, 181, 112);
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    flex-wrap: nowrap;
}
#b {
    background-color: rgb(119, 236, 156);-
    height: 1200px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: end;
    flex-wrap: nowrap;
}
#c{
    background-color: rgb(117, 182, 240);
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}
.card {
    background-color: rgb(206, 65, 65);
    height: 200px;
    width: 250px;
    margin: 20px;
    padding: 5px;
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
}
.card-images {
    width: 100%;
    
}
.card-title {
    font-size: large;
}